


.Contenedorpadre1{
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;



}
p{
    grid-column: 2/4;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


p{
    grid-column: 2/4;
    text-align: justify;
    padding: 10px;
}